:root {
    --darkgrey: #222222;
    --lightgrey: #918E9B;
    --black: #000000;
    --white: #ffffff;
    --magenta: #FE395C;
    --orange: #FF5A5F;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

nav {
    height: 70px;
    padding: 22px;
    display: flex;
    background-color: var(--white);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
    /* X, Y, Blur raduis, Color */
}

#airbnb-logo {
    max-width: 107px;
}

#hero {
    padding: 11px 35px;
}

#hero--img--container {
    display: flex;
    flex-direction: column;
}

#hero--image {
    max-width: 400px;
    /* max-width: 62%; */
    align-self: center;
}

#hero>h1 {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 0;
}

#hero>h4 {
    margin-top: 17px;
    font-weight: 300;
    font-size: 16px;
}

/*  GRID OF FOUR  */
#activities--panel {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-weight: 300;
    font-size: 12px;
    width: 29.3333%;
    margin: 2%;
    padding: 11px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);

}

.card--image {
    margin: 0 auto; /* centered */
    height: 350px;
    width: 80%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    border-radius: 9px;
}

.card--activity {
    margin-top: 11px;
    font-size: 1.7em;
    font-weight: 600;
    text-align: center;
}


.card--rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 17px;
}

.span--rating--stars {
    font-size: 1.4em;
    font-weight: 600;
}

.span--rating--stars>i {
    color: var(--magenta);
}

.span--rating--count {
    color: var(--magenta);
    font-size: 1.4em;
    font-weight: 600;
}


.sep--upper,
.sep--lower {
    margin: 11px 0;
    color:var(--lightgrey);
}

.span--location {
    font-size: 1.4em;
    font-weight: 600;
}

.span--location>i {
    font-size: 1.2em;
    color: var(--magenta);
}

.card--price {
    margin-top: 11px;
    text-align: right;
    font-size: 1.3em;
}