/* screen size needs to be minimized to something like 800x600px so that the whole design does not look totally idiotic */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Inter', sans-serif; */
  /* font-family: 'Karla', sans-serif; */
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* to aligh both centrally on Y axis */
  height: 66px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
}

#div--left {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* to aligh both centrally on Y axis */

  margin-right: auto;
  /* push other element to end of line */
  text-align: left;

  font-family: 'Karla', sans-serif;
  font-size: 21px;
}

#div--left>img {
  height: 44px;
  margin-right: 6px;
}

#div--right {
  text-align: right;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 500;
}


main {
  margin: 40px;
}

#inputs {
  display: flex;
  justify-content: space-between;
}

#inputs>* {
  border-radius: 5px;
  text-indent: 11px;
  border: 1px solid #D5D4D8;
  height: 35px;
  width: 48%;
}

#generate--button {
  height: 40px;
  width: 100%;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  border-radius: 5px;
  margin: 20px 0 40px 0;

  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: white;
}


.memeImage {
  width: 100%;
}