:root {
  --rich-black: #001219ff;
  --midnight-green: #005f73ff;
  --dark-cyan: #0a9396ff;
  --tiffany-blue: #94d2bdff;
  --vanilla: #e9d8a6ff;
  --gamboge: #ee9b00ff;
  --alloy-orange: #ca6702ff;
  --rust: #bb3e03ff;
  --rufous: #ae2012ff;
  --auburn: #9b2226ff;

  /*
--rich-black: hsla(197, 100%, 5%, 1);
--midnight-green: hsla(190, 100%, 23%, 1);
--dark-cyan: hsla(181, 88%, 31%, 1);
--tiffany-blue: hsla(160, 41%, 70%, 1);
--vanilla: hsla(45, 60%, 78%, 1);
--gamboge: hsla(39, 100%, 47%, 1);
--alloy-orange: hsla(30, 98%, 40%, 1);
--rust: hsla(19, 97%, 37%, 1);
--rufous: hsla(5, 81%, 38%, 1);
--auburn: hsla(358, 64%, 37%, 1);
*/

}


/* 
font-family: 'Bungee', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Bungee Spice', cursive;
font-family: 'Inter', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}


body {
  background:
    radial-gradient(1.5em 6.28571em at 1.95em, hsla(190, 100%, 23%, 0) 50%,
      hsla(190, 100%, 23%, .25) 50%,
      hsla(190, 100%, 23%, .25) 55%,
      hsla(190, 100%, 23%, 0) 55%) 0 0,
    radial-gradient(1.5em 6.28571em at -0.45em,
      hsla(190, 100%, 23%, 0) 50%,
      hsla(190, 100%, 23%, .25) 50%,
      hsla(190, 100%, 23%, .25) 55%,
      hsla(190, 100%, 23%, 0) 55%) 1.5em 5.5em,
    radial-gradient(2.3em 4.57143em at 2.99em,
      hsla(190, 100%, 23%, 0) 50%, hsla(190, 100%, 23%, 0.3) 50%,
      hsla(190, 100%, 23%, 0.3) 55%, hsla(190, 100%, 23%, 0) 55%) 0 0,
    radial-gradient(2.3em 4.57143em at -0.69em,
      hsla(190, 100%, 23%, 0) 50%,
      hsla(190, 100%, 23%, 0.3) 50%,
      hsla(190, 100%, 23%, 0.3) 55%,
      hsla(190, 100%, 23%, 0) 55%) 2.3em 4em,
    radial-gradient(3.5em 6.28571em at 4.55em,
      hsla(190, 100%, 23%, 0) 50%,
      hsla(190, 100%, 23%, .25) 50%,
      hsla(190, 100%, 23%, .25) 55%,
      hsla(190, 100%, 23%, 0) 55%) 0 0,
    radial-gradient(3.5em 6.28571em at -1.05em,
      hsla(190, 100%, 23%, 0) 50%,
      hsla(190, 100%, 23%, .25) 50%,
      hsla(190, 100%, 23%, .25) 55%,
      hsla(190, 100%, 23%, 0) 55%) 3.5em 5.5em;
  background-color: var(--tiffany-blue);
  background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
  background-repeat: repeat;
}


.btn--and--result {
  display: flex;
  justify-content: flex-start;
  gap: 22px;
}

button,
#result {
  background-color: var(--midnight-green);
  color: var(--midnight-green);
  font-weight: 500;
  font-size: 16px;
  /* width: 200px;
  height: 52px; */
  border-radius: 15px;
  /* margin-top: 29px;
  margin-right: 29px; */
  border: none;
}

button {
  cursor: pointer;
}


/* Welcome */

.welcome--container--flex {
  padding-top: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#h1--welcome {
  font-family: 'Bungee Spice', cursive;
  font-weight: 600;
  font-size: 71px;
  color: var(--rich-black);
  margin-bottom: 31px;
}

#h2--welcome {
  font-family: 'Bungee', cursive;
  font-size: 44px;
  color: var(--gamboge);
  text-shadow: -3px -3px 0 var(--rufous), 3px -3px 0 var(--rufous), -3px 3px 0 var(--rufous), 3px 3px 0 var(--rufous); 
  margin-bottom: 88px;
}

#categories--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 71%;
  height: 440px;
  border: 1px solid black;
  row-gap: 11%;
  column-gap: 5%;
}

.category--buttons {
  background-image: linear-gradient(to right, var(--gamboge) 0%, var(--vanilla) 31%, var(--vanilla) 50%, var(--alloy-orange) 100%);
  text-transform: uppercase;
  text-align: left;
  -webkit-transition: background-image .4s ease-in-out;
  transition: background-image .4s ease-in-out;
}

.category--buttons:hover {
  background-image: linear-gradient(to left, var(--gamboge) 0%, var(--vanilla) 31%, var(--vanilla) 50%, var(--alloy-orange) 100%);
  color: var(--rich-black);
}

.category--buttons>i {
  margin: 0 11px;
  font-size: 1.7em;
  vertical-align: text-bottom;
}

.slidecontainer {
  grid-column:1/3;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

/* Q&A */

.flex-container--q-and-a {
  width: 80%;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container--question--plus--answers {
  margin: 0;
  /* background-color: hsla(var(--vanilla)); */
  background-color: hsla(160, 41%, 70%, .7);
  padding: 20px;
}


.question {
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  color: #293264;
  text-align: left;
}

.answers--div {
  margin-top: 15px;
}

.answer--span {
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
  border: 1px solid #293264;
  border-radius: 8px;
  padding: 4px 8px;
  margin: 8px 15px 0 0;
}

.answer--span:last-child {
  margin-right: 0;
}

.selected {
  background-color: black;
  color: white;
}

.not--selected {
  background-color: none;
  color: black;
}

.incorrect--selected {
  background-color: red;
  color: white;
}

.correct--selected {
  background-color: blue;
  color: white;
}

.correct--not--selected {
  background-color: green;
  color: white;
}


hr {
  margin: 26px 0;
  /* border-top: 1px solid #DBDEF0; */
}

#result {
  display: flex;
  align-items: center;
  justify-content: space-around;
}