* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: whitesmoke;
}

.flex-container--welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#h1--welcome {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 31px;
  color: #293264;
  width: 412px;
  height: 41px;
}

#h2--welcome {
  color: #293264;
  font-weight: 400;
  font-size: 16px;
  width: 318px;
  height: 19px;
  margin-top: 7px;
}

button {
  background-color: #4D5B9E;
  color: #F5F7FB;

  font-weight: 500;
  font-size: 16px;

  width: 193px;
  height: 52px;
  border-radius: 15px;

  margin-top: 29px;

  border: none;
}


.flex-container--q-and-a {
  width: 80%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question {
  width: 100%;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #293264;
  text-align: left;
}

.answers--div {
  margin: 15px 0;
}

.answer--span {
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
  border: 1px solid #293264;
  border-radius: 8px;
  padding: 4px 8px;
  margin-right: 15px;
  margin-right: 15px;
}

.selected {
  background-color: #D6DBF5;
}

.not--selected {
  background-color: none;
}

.answer--span:last-child {
  margin-right: 0;
}

hr {
  margin: 26px 0;
  border-top: 1px solid #DBDEF0;
}