:root {
  --rich-black: #001219ff;
  --midnight-green: #005f73ff;
  --dark-cyan: #0a9396ff;
  --tiffany-blue: #94d2bdff;
  --vanilla: #e9d8a6ff;
  --gamboge: #ee9b00ff;
  --alloy-orange: #ca6702ff;
  --rust: #bb3e03ff;
  --rufous: #ae2012ff;
  --auburn: #9b2226ff;
  /*
--rich-black: hsla(197, 100%, 5%, 1);
--midnight-green: hsla(190, 100%, 23%, 1);
--dark-cyan: hsla(181, 88%, 31%, 1);
--tiffany-blue: hsla(160, 41%, 70%, 1);
--vanilla: hsla(45, 60%, 78%, 1);
--gamboge: hsla(39, 100%, 47%, 1);
--alloy-orange: hsla(30, 98%, 40%, 1);
--rust: hsla(19, 97%, 37%, 1);
--rufous: hsla(5, 81%, 38%, 1);
--auburn: hsla(358, 64%, 37%, 1);
*/
}

/* 
font-family: 'Bungee', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Bungee Spice', cursive;
font-family: 'Inter', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}


body {
  background:
    radial-gradient(1.5em 6.28571em at 1.95em, hsla(190, 100%, 23%, 0) 50%,
      hsla(190, 100%, 23%, .25) 50%,
      hsla(190, 100%, 23%, .25) 55%,
      hsla(190, 100%, 23%, 0) 55%) 0 0,
    radial-gradient(1.5em 6.28571em at -0.45em,
      hsla(190, 100%, 23%, 0) 50%,
      hsla(190, 100%, 23%, .25) 50%,
      hsla(190, 100%, 23%, .25) 55%,
      hsla(190, 100%, 23%, 0) 55%) 1.5em 5.5em,
    radial-gradient(2.3em 4.57143em at 2.99em,
      hsla(190, 100%, 23%, 0) 50%, hsla(190, 100%, 23%, 0.3) 50%,
      hsla(190, 100%, 23%, 0.3) 55%, hsla(190, 100%, 23%, 0) 55%) 0 0,
    radial-gradient(2.3em 4.57143em at -0.69em,
      hsla(190, 100%, 23%, 0) 50%,
      hsla(190, 100%, 23%, 0.3) 50%,
      hsla(190, 100%, 23%, 0.3) 55%,
      hsla(190, 100%, 23%, 0) 55%) 2.3em 4em,
    radial-gradient(3.5em 6.28571em at 4.55em,
      hsla(190, 100%, 23%, 0) 50%,
      hsla(190, 100%, 23%, .25) 50%,
      hsla(190, 100%, 23%, .25) 55%,
      hsla(190, 100%, 23%, 0) 55%) 0 0,
    radial-gradient(3.5em 6.28571em at -1.05em,
      hsla(190, 100%, 23%, 0) 50%,
      hsla(190, 100%, 23%, .25) 50%,
      hsla(190, 100%, 23%, .25) 55%,
      hsla(190, 100%, 23%, 0) 55%) 3.5em 5.5em;
  background-color: var(--tiffany-blue);
  background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
  background-repeat: repeat;
}


button#checkAnswers,
button#restartBtn {
  background-color: var(--midnight-green);
  color: var(--vanilla);
  font-weight: 600;
  font-size: 22px;
  width: 200px;
  height: 52px;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 15px;
}

/* Welcome */

.welcome--container--flex {
  padding-top: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#h1--welcome {
  font-family: 'Bungee Spice', cursive;
  font-weight: 600;
  font-size: 71px;
  margin-bottom: 19px;
}

#h2--welcome {
  font-family: 'Bungee', cursive;
  font-size: 44px;
  color: var(--gamboge);
  text-shadow: -3px -3px 0 var(--rufous), 3px -3px 0 var(--rufous), -3px 3px 0 var(--rufous), 3px 3px 0 var(--rufous);
  margin-bottom: 62px;
}

#quiz--selection--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  row-gap: 35px;
  column-gap: 44px;
}

.category--buttons {
  background-image: linear-gradient(to right, var(--gamboge) 0%, var(--vanilla) 31%, var(--vanilla) 50%, var(--alloy-orange) 100%);
  color: var(--midnight-green);
  text-transform: uppercase;
  text-align: left;
  font-size: 22px;
  height: 62px;
  -webkit-transition: background-image .4s ease-in-out;
  transition: background-image .4s ease-in-out;
}

.category--buttons:hover {
  background-image: linear-gradient(to left, var(--gamboge) 0%, var(--vanilla) 31%, var(--vanilla) 50%, var(--alloy-orange) 100%);
  color: var(--rich-black);
}

.category--buttons>i {
  margin: 0 11px;
  font-size: 1.7em;
  vertical-align: text-bottom;
}

#quiz--difficulty,
#quiz--type {
  background-color: var(--vanilla);
  font-size: 22px;
  height: 80px;
  border-radius: 15px;
}

#quiz--difficulty {
  grid-column: 1/3;
}

#quiz--type {
  grid-column: 3/5;
}

#quiz--difficulty>p,
#quiz--type>p {
  font-weight: 400;
  color: var(--rich-black);
}

#difficulty--spans,
#quiz--type--spans {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 4px;
}

#difficulty--spans>button,
#quiz--type--spans>button {
  height: 44px;
  border-radius: 8px;
  color: var(--midnight-green);
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
}

#difficulty--spans>button {
  width: 24%;
  gap: 1%;
}

#dificulty--easy {
  background-color: var(--gamboge);
}

#dificulty--medium {
  background-color: var(--alloy-orange);
}

#dificulty--hard {
  background-color: var(--auburn);
}
#dificulty--any {
  background-color: var(--midnight-green);
  color: var(--vanilla) !important;
}

#quiz--type--spans>button {
  width: 32.5%;
  gap: 1%;
  background-image: linear-gradient(to right, var(--gamboge) 0%, var(--vanilla) 46%, var(--vanilla) 54%, var(--alloy-orange) 100%);
}

#goBtn {
  width: 110px;
  height: 110px;
  margin-top: 62px;
  font-size: 2.2em;
  font-family: 'Bungee', cursive;
  border-radius: 100%;
  background-color: var(--midnight-green);
  color: var(--vanilla);
}

/* Q&A */

.quiz--info {
  margin-bottom: 44px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.quiz--info>div {
  font-family: 'Bungee', cursive;
  font-size: 19px;
  color: var(--rich-black);
}

.quiz--info>div>span {
  font-family: 'Bungee', cursive;
  font-size: 22px;
  color: var(--midnight-green);
}

.no--data {
  margin-bottom: 26px;
  padding: 20px;
}

.no--data>h2 {
  font-weight: 500;
  font-size: 22px;
  margin: 11px 0;
}

.no--data>div {
  font-size: 19px;
}

.no--data>div>span,
.no--data a {
  font-family: 'Bungee', cursive;
  font-size: 22px;
  color: var(--midnight-green);
}

.quiz--container {
  width: 80%;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*

--rich-black: hsla(197, 100%, 5%, 1);
--midnight-green: hsla(190, 100%, 23%, 1);
--dark-cyan: hsla(181, 88%, 31%, 1);
--tiffany-blue: hsla(160, 41%, 70%, 1);
--vanilla: hsla(45, 60%, 78%, 1);
--gamboge: hsla(39, 100%, 47%, 1);
--alloy-orange: hsla(30, 98%, 40%, 1);
--rust: hsla(19, 97%, 37%, 1);
--rufous: hsla(5, 81%, 38%, 1);
--auburn: hsla(358, 64%, 37%, 1);
*/

.question--and--answers--div {
  background-color:  hsla(30, 98%, 40%, .2);  ;
  padding: 11px 8px;
  border-bottom: 4px solid var(--alloy-orange);
  margin-bottom: 11px;
}

.question--and--answers--div--correct {
  background-color: hsla(181, 88%, 31%, .2);
  padding: 11px 8px;
  border-bottom: 4px solid var(--dark-cyan);
  margin-bottom: 11px;
}

.question--and--answers--div--incorrect {
  background-color: hsla(358, 64%, 37%, .2);
  padding: 11px 8px;
  border-bottom: 4px solid var(--auburn);
  margin-bottom: 11px;
}

.question {
  width: 100%;
  font-weight: 600;
  font-size: 22px;
  color: var(--rich-black);
  text-align: left;
}

.answers--div {
  margin-top: 15px;
}

.answer--span {
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  font-weight: 500;
  border: 1px solid #293264;
  border-radius: 8px;
  padding: 4px 8px;
  margin: 8px 15px 0 0;
}

.answer--span:last-child {
  margin-right: 0;
}

.selected,
.correct--selected,
.correct--not--selected {
  background-color: black;
  color: white;
}

.not--selected {
  background-color: none;
  color: black;
}

.incorrect--selected {
  background-color: var(--rufous);
  color: white;
}

/*
.correct--selected {
  background-color: blue;
  color: white;
}

.correct--not--selected {
  background-color: var(--dark-cyan);
  color: white;
}
*/

/* Results */

.btn--and--result {
  display: flex;
  justify-content: space-between;
  gap: 22px;
}

#result {
  background-color: var(--alloy-orange);
  color: var(--vanilla);
  font-weight: 500;
  font-size: 22px;
  width: 400px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Portrait -> 2 items in colums in welcome */
@media (orientation: portrait) {
  #quiz--selection--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
  }

  #quiz--difficulty {
    grid-column: 1;
  }

  #quiz--type {
    grid-column: 2;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .welcome--container--flex {
    padding-top: 8px;
  }

  #h1--welcome {
    font-size: 44px;
    margin-bottom: 8px;
  }

  #h2--welcome {
    font-size: 22px;
    margin-bottom: 26px;
  }

  #quiz--selection--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 11px;
    width: 95%;
  }

  #quiz--difficulty {
    grid-column: 1/3;
  }

  #quiz--type {
    grid-column: 1/3;
  }

  .category--buttons {
    font-size: 17px;
    height: 44px;
    width: 100%;
    margin-bottom: 11px;
  }

  .category--buttons>i {
    margin: 0 11px;
    font-size: 1.5em;
  }

  #quiz--difficulty,
  #quiz--type {
    height: 66px;
    margin-bottom: 11px;
  }

  #quiz--difficulty>p,
  #quiz--type>p {
    font-size: 15px;
  }

  #difficulty--spans>button,
  #quiz--type--spans>button {
    height: 40px;
    font-size: 17px;
  }

  #goBtn {
    width: 71px;
    height: 71px;
    margin: 11px 0 26px 0;
    font-size: 1.9em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .welcome--container--flex {
    padding-top: 4px;
  }

  #h1--welcome {
    font-size: 44px;
    margin-bottom: 4px;
  }

  #h2--welcome {
    font-size: 22px;
    margin-bottom: 26px;
  }

  #quiz--selection--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 11px;
    width: 88%;
  }

  #quiz--difficulty {
    grid-column: 1/3;
  }

  #quiz--type {
    grid-column: 1/3;
  }

  .category--buttons {
    font-size: 17px;
    height: 44px;
    width: 100%;
    margin-bottom: 4px;
  }

  .category--buttons>i {
    margin: 0 11px;
    font-size: 1.5em;
  }

  #quiz--difficulty,
  #quiz--type {
    height: 66px;
    margin-bottom: 11px;
  }

  #quiz--difficulty>p,
  #quiz--type>p {
    font-size: 15px;
  }

  #difficulty--spans>button,
  #quiz--type--spans>button {
    height: 40px;
    font-size: 17px;
  }

  #goBtn {
    width: 71px;
    height: 71px;
    margin: 11px 0 26px 0;
    font-size: 1.9em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .welcome--container--flex {
    padding-top: 4px;
  }

  #h1--welcome {
    font-size: 31px;
    margin-bottom: 17px;
  }

  #h2--welcome {
    display: none;
  }

  #quiz--selection--container {
    width: 91%;
    row-gap: 13px;
    column-gap: 17px;
  }

  .category--buttons {
    font-size: 13px;
    height: 31px;
  }

  #quiz--difficulty,
  #quiz--type {
    font-size: 15px;
    height: 48px;
  }

  #difficulty--spans>button,
  #quiz--type--spans>button {
    height: 22px;
    font-size: 15px;
  }

  #goBtn {
    width: 53px;
    height: 53px;
    margin-top: 15px;
    font-size: 1.2em;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1280px) {
  .welcome--container--flex {
    padding-top: 22px;
  }

  #h1--welcome {
    font-size: 71px;
    margin-bottom: 11px;
  }

  #h2--welcome {
    font-size: 31px;
    margin-bottom: 62px;
  }

  #quiz--selection--container {
    width: 88%;
    row-gap: 31px;
    column-gap: 31px;
  }

  .category--buttons {
    font-size: 19px;
    height: 44px;
  }

  #quiz--difficulty,
  #quiz--type {
    font-size: 19px;
    height: 62px;
  }

  #difficulty--spans>button {
    height: 31px;
    font-size: 19px;
  }

  #quiz--type--spans>button {
    height: 31px;
    font-size: 19px;
  }

  #goBtn {
    width: 88px;
    height: 88px;
    margin-top: 44px;
    font-size: 2em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1280px) and (max-width: 1520px) {
  .welcome--container--flex {
    padding-top: 35px;
  }

  #h1--welcome {
    font-size: 71px;
    margin-bottom: 19px;
  }

  #h2--welcome {
    font-size: 35px;
    margin-bottom: 53px;
  }

  #quiz--selection--container {
    width: 88%;
    row-gap: 35px;
    column-gap: 35px;
  }

  .category--buttons {
    font-size: 19px;
    height: 53px;
  }

  #quiz--difficulty,
  #quiz--type {
    font-size: 19px;
    height: 64px;
  }

  #difficulty--spans>button,
  #quiz--type--spans>button {
    height: 35px;
    font-size: 19px;
  }

  #goBtn {
    width: 88px;
    height: 88px;
    margin-top: 44px;
    font-size: 2em;
  }
}

/* XX-large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1520px) {}