* {
    margin: 0;
    padding: 0;
}

.box {
    font-family: 'Courier New', Courier, monospace;
    font-size: 31px;
    height: 77px;
    width: 88px;
    padding-top: 11px;
    border: 2px solid orange;
    border-radius: 8px;
    color: orange;
    display: inline-block;
    text-align: center;
    margin: 4px;
}